@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cat Application</h1>
    <p class="lead">Just another app for tracking the world's most photographed internet creatures</p>
    <p>@Html.ActionLink("Get to tracking Cats!", "Index", "Cats", new { }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <p class="text-warning small">NOTE: You will need to login to see the cats</p>
</div>